{% extends "administration.html" %} 


{% block content %}
    <div class="admin-search-top-bar">
        <span class="admin-search-top-bar-text">Lidmašīnas</span>
        <img src="{{ url_for ('static', filename = 'Vector/AddSign.svg') }}">
    </div>
    <div class="admin-search-content-frame">
        {% if airplanes %}
            {% for airplane in airplanes %}
            <div id="{{ airplane.id }}" class="admin-search-content-result">
                <div class="admin-pannel-search-content field-1">{{ airplane.model_name }}</div>
                <div class="admin-pannel-search-content field-2">{{ airplane.manufacture_year }}</div>
                <div class="admin-pannel-search-content field-3">{{ airplane.seats_count }}</div>
                {% for airport in airports %}
                    {% if airport.id == airplane.airport_id  %}
                        <div class="admin-pannel-search-content field-4">{{ airport.name }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        {% else %}
        <span style="display: flex; justify-content: center;">Pagaidām nav nevienu reisu!</span>
        {% endif %}
    </div>

{% endblock %}


{% block add_popup %}
    <div class="admin-popup-background">
        <div class="admin-popup">
            <div id="article-header">
                <span id="article-name">Lidmašīnas pievienošana</span>
            </div>
            <div id="article-content">
                <form id="airplanes">
                    <input type="text" id="airplane_model" placeholder="Lidmašīnas modelis">
                    <input type="text" id="airplane_manufacture_year" placeholder="Lidmašīnas izlaišanas gads">
                    <input type="text" id="airplane_seats_count" placeholder="Lidmašīnas sēdvietu skaits">
                    <div id="dropdown-box">
                        <div id="dropdown-box-value">Lidosta:</div>
                        <div id="dropdown-box-select">
                            {% for airport in airports %}
                                <option class="select-country">{{ airport.name }}</option>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <div id="continue-button">
                    <button id="submit-popup" class="submit-button">Pievienot</button>
                    <button id="close-popup" class="submit-button">Aizvērt</button>
                </div>
                <div id="pop-up-passangers-info-data-accept">
                    <div id="pop-up-form">
                        <div>Vai Jūs esat pārliecināti ka visi dati ir ievadīti pareizi?</div>
                        <div id="continue-button">
                            <a href="/admin/add_row"><button class="submit-button">Jā</button></a>
                        </div>
                        <div id="continue-button">
                            <a><button class="submit-button" id="return">Nē</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block edit_popup %}
<div class="admin-editing-popup-background">
    <div class="admin-popup">
        <div id="article-header">
            <span id="article-name">Lidmašīnas pievienošana</span>
        </div>
        <div id="article-content">
            <form id="airplanes">
                <span id="date-text">Lidmašīnas modelis:</span>
                <input style="margin-top: 0;" type="text" id="airplane_model" placeholder="Lidmašīnas modelis">
                <span id="date-text">Lidmašīnas izlaišanas gads:</span>
                <input style="margin-top: 0;" type="text" id="airplane_manufacture_year" placeholder="Lidmašīnas izlaišanas gads">
                <span id="date-text">Lidmašīnas sēdvietu skaits:</span>
                <input style="margin-top: 0;" type="text" id="airplane_seats_count" placeholder="Lidmašīnas sēdvietu skaits">
                <div id="dropdown-box">
                    <div id="dropdown-box-value"></div>
                </div>
            </form>
            <div id="continue-button">
                <button id="submit-popup" class="submit-button">Pievienot</button>
                <button id="close-popup" class="submit-button">Aizvērt</button>
            </div>
            <div id="pop-up-passangers-info-data-accept">
                <div id="pop-up-form">
                    <div>Vai Jūs esat pārliecināti ka visi dati ir ievadīti pareizi?</div>
                    <div id="continue-button">
                        <a href="/admin/edit_row"><button class="submit-button">Jā</button></a>
                    </div>
                    <div id="continue-button">
                        <a><button class="submit-button" id="return">Nē</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}