{% extends "administration.html" %} 


{% block content %}
    <div class="admin-search-top-bar">
        <span class="admin-search-top-bar-text">Lidostas</span>
        <img src="{{ url_for ('static', filename = 'Vector/AddSign.svg') }}">
    </div>
    <div class="admin-search-content-frame">
        {% if airports %}
            {% for airport in airports %}
            <div id="{{ airport.id }}" class="admin-search-content-result">
                <div class="admin-pannel-search-content field-1">{{ airport.name }}</div>
                <div class="admin-pannel-search-content field-2">{{ airport.abbreviation }}</div>
                <div class="admin-pannel-search-content field-3">{{ airport.address }}</div>
            </div>
            {% endfor %}
        {% else %}
        <span style="display: flex; justify-content: center;">Pagaidām nav nevienu lidostu!</span>
        {% endif %}
    </div>

{% endblock %}


{% block add_popup %}
    <div class="admin-popup-background">
        <div class="admin-popup">
            <div id="article-header">
                <span id="article-name">Lidostas pievienošana</span>
            </div>
            <div id="article-content">
                <form id="airports">
                    <input type="text" id="airport_name" placeholder="Lidostas nosaukums">
                    <input type="text" id="airport_abbreviation" placeholder="Lidostas saīsinājums (piem.: RIX)">
                    <input type="text" id="airport_address" placeholder="Lidostas adrese (piem.: Rīga(Latvia))">
                </form>
                <div id="continue-button">
                    <button id="submit-popup" class="submit-button">Pievienot</button>
                    <button id="close-popup" class="submit-button">Aizvērt</button>
                </div>
                <div id="pop-up-passangers-info-data-accept">
                    <div id="pop-up-form">
                        <div>Vai Jūs esat pārliecināti ka visi dati ir ievadīti pareizi?</div>
                        <div id="continue-button">
                            <a href="/admin/add_row"><button class="submit-button">Jā</button></a>
                        </div>
                        <div id="continue-button">
                            <a><button class="submit-button" id="return">Nē</button></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block edit_popup %}
<div class="admin-editing-popup-background">
    <div class="admin-popup">
        <div id="article-header">
            <span id="article-name">Lidostas labošana</span>
        </div>
        <div id="article-content">
            <form id="airports">
                <span id="date-text">Lidostas nosaukums:</span>
                <input  style="margin-top: 0;" type="text" id="airport_name" placeholder="Lidostas nosaukums">
                <span id="date-text">Lidostas saīsinājums (piem.: RIX):</span>
                <input  style="margin-top: 0;" type="text" id="airport_abbreviation" placeholder="Lidostas saīsinājums (piem.: RIX)">
                <span id="date-text">Lidostas adrese (piem.: Rīga(Latvia)):</span>
                <input  style="margin-top: 0;" type="text" id="airport_address" placeholder="Lidostas adrese (piem.: Rīga(Latvia))">
            </form>
            <div id="continue-button">
                <button id="submit-popup" class="submit-button">Labot</button>
                <button id="close-popup" class="submit-button">Aizvērt</button>
                <button id="delete-button" class="submit-button">Dzēst</button>
            </div>
            <div id="pop-up-passangers-info-data-accept">
                <div id="pop-up-form">
                    <div>Vai Jūs esat pārliecināti ka visi dati ir ievadīti pareizi?</div>
                    <div id="continue-button">
                        <a href="/admin/edit_row"><button class="submit-button">Jā</button></a>
                    </div>
                    <div id="continue-button">
                        <a><button class="submit-button" id="return">Nē</button></a>
                    </div>
                </div>
            </div>
            <div id="delete-button-pop-up">
                <div id="pop-up-form">
                    <div>Vai Jūs patiešām vēlaties dzēst šo lidostu?</div>
                    <div id="continue-button">
                        <a id="delete_row_button"><button class="submit-button">Jā</button></a>
                    </div>
                    <div id="continue-button">
                        <a><button class="submit-button" id="return">Nē</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}