<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Šeit raksti stilu */
    </style>
</head>
<body>
    <!-- Šeit raksti visu ko redzēs lietotājs.
        Ja vajaga likt iekšā bildes, lieto linkus (piemērs ar logo).
    -->
    <img src="https://media.discordapp.net/attachments/745611207272300597/884430729151406140/Logo.png" id="navigation-bar-logo"> <!-- Logo -->
    <div>Verifikācijas kods: {{ verification_code }}</div>
</body>
</html>
